.tool-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
  background-color: hsla(0, 0%, 95%, 0.8);
}

.tool-panel-operations {
  flex: 1.5 0 0%;
  display: flex;
  justify-content: flex-start;
  height: 40px;
}

.tool-panel-utils {
  flex: 1 0 0%;
  display: flex;
  justify-content: flex-end;
  height: 32px;
}
